<% layout('layouts/boilerplate') -%>
<h1>Posts Index</h1>
<% for (let post of posts) { %>
    <div>
        <h2><%= post.title %></h1>
        <p>Price: $<%= post.price %></p>
        <p>Description: <%= post.description %></p>
        <p>Location: <%= post.location %></p>
        <div><a href="/posts/<%=post._id%>">View more</a></div>
    </div>    
<% } %>